.waves {
    width: 200px;
  }
  

  time {
    color: #9dde8b;
  }
  
  .btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    color: #fff;
    display: flex;
  }