.message{
    max-width: 450px;
    margin: 30px 0 30px 0;
    .content{
        display: flex;
        align-items: flex-end;
        gap: 10px;
        & >.textBox{
            padding: 15px;
            background-color: rgb(85, 85, 85);
            border-radius: 12px 12px 12px 0;
            color: #fff;
            &.audioWrapper {
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: space-between;
              }
        }
        .avatar{
            width: 35px;
            height: 35px;
            background-color: rgb(109, 58, 0);
            border-radius: 50%;
            flex-shrink: 0;
        }
    }
    .date{
        margin-left: 45px;
        margin-top: 5px;
        color: #8B8B8B;
        font-size: 14px;
        font-weight: 300;
    }
}
.message.myMessage{
    margin: 30px 0 30px auto;
.content{
    flex-direction: row-reverse;
    & >.textBox{
        border-radius: 12px 12px 0 12px;
        background-color: rgb(205, 133, 0);
    }
}
.date{
    margin-left: auto;
    margin-top: 5px;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 300;
    width: fit-content;
    margin-right: 45px;
}
}